@for $i from 1 through 150 {
    .top#{$i} { top: #{$i}px; }
    .bottom#{$i} { bottom: #{$i}px; }
    .left#{$i} { left: #{$i}px; }
    .right#{$i} { right: #{$i}px; }
    .mtop#{$i} { margin-top: #{$i}px; }
    .mbottom#{$i} { margin-bottom: #{$i}px; }
    .mright#{$i} { margin-right: #{$i}px; }
    .mleft#{$i} { margin-left: #{$i}px; }
    .ptop#{$i} { padding-top: #{$i}px; }
    .pbottom#{$i} { padding-bottom: #{$i}px; }
    .pright#{$i} { padding-right: #{$i}px; }
    .pleft#{$i} { padding-left: #{$i}px; }
    .padding#{$i} { padding: #{$i}px; }
    .margin#{$i} { margin: #{$i}px; }
    .fontS#{$i} { font-size: #{$i}px; }
}

.text-center { text-align: center; }

.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}

.no-margin {
    margin: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-right {
    margin-right: 0;
}

@media (max-width: 500px) {
    .col-xxs-1 {
        width: 8.333333333333332%;
    }

    .col-xxs-2 {
        width: 16.666666666666664%;
    }

    .col-xxs-3 {
        width: 25%;
    }

    .col-xxs-4 {
        width: 33.33333333333333%;
    }

    .col-xxs-5 {
        width: 41.66666666666667%;
    }

    .col-xxs-6 {
        width: 50%;
    }

    .col-xxs-7 {
        width: 58.333333333333336%;
    }

    .col-xxs-8 {
        width: 66.66666666666666%;
    }

    .col-xxs-9 {
        width: 75%;
    }

    .col-xxs-10 {
        width: 83.33333333333334%;
    }

    .col-xxs-11 {
        width: 91.66666666666666%;
    }

    .col-xxs-12 {
        width: 100%;
    }
}

.entry-content img {
    margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.alignnone, img.alignnone {
    /* not sure about this one */
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}